h1 {
    text-align: center;
    width: 305px;
    border: 1px;
    border-style: none;
    background-color: rgb(204, 204, 228);
    margin: 2.5px;
}
ul {
    border: 1px;
    border-style: none;
    width: 305px;
    padding-left: 0px;
    list-style: none;
    margin: 2.5px;
}
p {
    width: 305px;
    border: 1px;
    border-style: none;
    border-color: rgb(5, 82, 82);
    margin: 2.5px;
}
li {
    border: 1px;
    border-style: none;
    width: 305px;
    padding-left: 0px;
    list-style: none;
    border-color: rgb(5, 82, 82);
    margin: 2.5px;
}
body {
    border: 1px;
    border-style: none;
    width: 325px;
}
#wrapper {
    box-shadow: inset 0 0 490px rgb(125, 121, 121);
    width: 100%;
}